/* Seu arquivo de estilo CSS ou JSX */
.produto-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ou o alinhamento vertical desejado */
  }
  .containerNovoProduto{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .containerNovoProdutoImg{

  }
  .containerNovoProdutoInput{

  }

  .inputImg{

    width:145px;
    max-width: 145px;
    min-width: 145px;
    max-height: 100px;
    min-height: 100px;
}
.imgProduto{
    display: flex;
    width:150px;
    max-width: 145px;
    min-width: 145px;
    max-height: 100px;
    min-height: 100px;
  }
.adicionarMaisProdutos{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
  
.btnEnviarProdutos{
  background-color: black; 
  color: white; 
  border: none; 
  border-radius: 25px; 
  padding: 15px 30px; 
  font-size: 16px; 
  cursor: pointer;
}